@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@300;400;500;700&display=swap');


*{
	margin:0;
}
body{
    font-family: Dosis,sans-serif;
    background-color: #F0EEE8;
    color: black;    
}
h1, h2{
    text-align: center;
    font-family: Roboto,sans-serif;
    font-weight:500;
    font-size: 28px;
}
.contenidoPag{ /* Establece un ancho fijo para el contenido */
    width: 1200px;
    margin: auto;
}
.respmenu{ /*menu hamburguesa*/
    display: none;
}
#mapa_peq{/*oculta el mapa del responsive*/
    display: none;
}
ul{
	padding:0;
}
/********************************************************
*                    * AVISO COOKIES *                  *
*********************************************************/

.avisoCookies{
    height: 9em;
    width: 40%;
    background-color: white;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 90px rgba(0,0,0,0.57);
    padding:2em 4em 0 4em;
    margin: 20% auto auto;
    line-height : 25px;
    overflow: scroll;
    z-index: 2;
    overflow: hidden;
}
.avisoCookies a.link_pag{
	color:#40BBC6;
}
#tituloAvisoCookies{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.3em;
}
#infoCookies{
    font-size: 1em;
    text-align: center;
}
#aceptarCookies{
    float: right;
    border: none;
    background-color: #40BBC6;
    padding: 1% 4% 1% 4%;
    color: white;
}
#aceptarCookies:hover{
    background-color: #85e2e4;
    color: #282828;
    cursor: pointer;
}

/********************************************************
*              * PAGINA POLITICA COOKIES *              *
*********************************************************/

.section_politica_cookies {
    background-color: white;
    border-radius: 10px;
    padding:2em 4em 5em 4em;
    margin:3em 0 3em 0;
}
.h2cookies{
    text-align: left;
    margin: 3em 0 1em 0;
}
.h3cookies{
    margin: 1em 0 0.5em 0;
}

/********************************************************
*                  * CABECERA Y MENU *                  *
*********************************************************/
#container{
    background-color: #282828;
}
.cabecera{
    text-align: center;
}
.menu ul{
    text-align: center;
    margin:0;
    background-color: #282828;
}
.menu ul div{
    display:inline-block;
    padding:1em;
    border-radius: 8px;
}
a{
    color: white;
    text-decoration: none;
}
.menu ul li{
    list-style: none;
    font-family: Roboto,sans-serif;
}
.menu ul div:hover {
    background-color:#40BBC6;
    color: white;
}

/* Barra de búsqueda del menú */

.search-box{
	margin-right:1em;
}
.search-box:hover {
  	background-color: #282828 !important;
}

.search-input {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

/********************************************************
*                      * INDEX *                        *
*********************************************************/

/* -------------------- SLIDER -------------------------*/
.slider {
    background-image: url("../img/slider/costa.jpg");
    background-position: center top;
    background-size: 100% auto;
    width: 100%;
    height: 50em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider .fa-arrow-right {
    cursor: pointer;
    color: white;
    font-size: xxx-large;
    margin-inline: 40px;
}
.slider .fa-arrow-right:hover{
    opacity: 50%;
}
.slider .fa-arrow-left {
    cursor: pointer;
    color: white;
    font-size: xxx-large;
    margin-inline: 40px;
}
.slider .fa-arrow-left:hover{
    opacity: 50%;
}

/* ---------------------- CONTENT INDEX ----------------*/

.contenedor_info_general{
    height: 130px;    
    background-color: white; 
    width:100%;
}
.fondo_info_general{
	max-width:1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 130px;
    background-color: white;
    margin:auto;
}
.texto_info_general{
	font-size:18px;
}
.info_general{
    display: inline-block;
    text-align: center;
    margin-top: 2.3em;
}
.info_general i{
    color: #40BBC6;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.circulos_index{
	width:13em;
	height:13em;
	display:block;
	margin:auto;
	border-radius:50%;
}
.texto_productos_index{
	text-align:center;
	margin-top:1em;
	font-size:18px;
}
.info_tienda{
	background-color:#F0EEE8;
	height:400px;
	padding:4em 0 4em 0;
}
.contenido_info_tienda{
	padding-top:4em;
	width: 1200px;
    margin: auto;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	gap:3em;
}
.parrafo_info_tienda{
	text-align:center;
	font-size:18px;
}
.foto_mesa{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/productos/mesario.jpg"); /*Añade y oscurece la imagen de fondo del contenedor*/
    text-align:center;
    min-height: 210px;
    background-position: center;
    background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding-top:180px;
}
.texto_foto_mesa{
	color: white;
	font-size: 1.7em;
	font-weight:200;
}
.parrafo_descripcion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3em;
    margin-bottom:4em;
}
.img_sobre_mi{
	width:100%;
}
.titulo_sobre_mi{
	margin-top:4em;
}
.h4_sobre_mi{
	font-size:18px;
}
.parrafo_index{
	font-size:18px;
	margin:1em 0 19px 0;
}
.foto_inspiracion{
	width:100%;
}

/********************************************************
*              * PRODUCTOS Y OFERTAS *                  *
*********************************************************/

.tituloProductos{
    text-align: center;
}
#textoProductos{
    font-size: 1em;
    text-align:center;
}
.contenedor_filtro{
	background-color: white;
	padding:1.5em;
	margin-bottom:3em;
}
.filtroProductos{
	max-width:1200px;
	margin:auto;
	display:grid;
	grid-template-columns: repeat(6,1fr);
}
div.circuloFiltroProductos{
	margin:auto;
}
.circuloFiltroProductos{
    background-image: url("../img/circulos/todos.jpg");
    background-position: center top;
    background-size: 100% auto;
    display: flex;
	width:100px;
	height:100px;
    border-radius: 100%;
    margin-top:5em;
}
.circuloFiltroProductosDioramas{
    background-image: url("../img/productos/diorama.jpg");
    background-repeat:no-repeat;
    background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.circuloFiltroProductosCuadros{
    background-image: url("../img/productos/cuadro.jpg");
    background-repeat:no-repeat;
    background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.circuloFiltroProductosJoyeria{
    background-image: url("../img/productos/llaveros.jpg");
    background-repeat:no-repeat;
    background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.circuloFiltroProductosMesas{
    background-image: url("../img/productos/mesario.jpg");
    background-repeat:no-repeat;
    background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.circuloFiltroProductosIlus{
    background-image: url("../img/circulos/ilus.jpg");
    background-repeat:no-repeat;
    background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.circuloFiltroProductos:hover{
    box-shadow: 0 0 1em rgba(0,0,0,0.57);
}
.filtroProductos div h4{
	color:#282828;
	text-align:center;
	margin:1em 0 2em 0;
}
.listaProductos{
    margin: 3em 0 5em 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}
.cajaProducto{
    background-color: white;
    width: 100%;
    height: 300px;
}
.cajaProducto img{
    width: 100%;
}
.cajaProducto:hover{
    box-shadow: 0 0 1em rgba(0,0,0,0.57);
}
.nombreProducto{
	color:#282828;
    font-size: 1.1em;
    margin: 1em 0 0 1em;
    font-weight: bold;
    display: block;
    font-family: Roboto,sans-serif;
}
.descripcionProducto{
    margin: 0.2em 0 0 1em;
    display: inline-block;
    vertical-align: top;
    color:#282828;
    font-family: Roboto,sans-serif;
}
#OfertasPoliticaDevoluciones{
    color: #40BBC6;
}
.precioProducto{
    font-family: Raleway,sans-serif;
    font-size: 1.2em;
    display: inline;
    color: #282828;
    font-weight: bold;
    margin: 0 1em 0 0.9em;
    float: right;
}
.precioOferta{
    font-family: Raleway,sans-serif;
    font-size: 1.2em;
    display: inline;
    color: #D85B3B;
    font-weight: bold;
    margin: 0 1em 0 0.9em;
    float: right;
}
.descripcion_ofertas{
	background-color:white;
	padding:1.5em;
	margin-bottom:3em;
}
/********************************************************
*                      * CONTACTO *                     *
*********************************************************/

/* ------------------ FORMULARIO ------------------------*/
.body_contacto{
    background-color: #E3E0D6;
}
.section_contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    margin: 6em 0 5em 0;
}
.formulario{
    background-color: white;
    padding: 4em 4em 0em 4em;
    border-radius: 10px;
    box-shadow: 0 5px 15px -8px;
}
.formulario ul li {
    list-style: none;
}
.form_container{
    margin-top:1em;
    display: grid;
    gap:2em;
}
.form_group{
    position: relative;
}

select{
    margin:0.2em 0 1em 0;
    padding: 8px 16px 8px 0;
    font-size: 1em;
}
input{
    width: 100%;
    font-size: 1em;
    margin-bottom: 1em;
    padding:0.5em;
}
label{
    font-weight: bold;
}
label.gender{
    font-weight: normal;
}
.selec_genero{
    font-weight: bold;
    margin-bottom: 0.5em;
}
.genero{
    width: auto;
    margin: 0 1em 1em 0.2em;
}
.form_submit{
    border: none;
    background-color: #40BBC6;
    color: white;
    width: 8em;
    padding:0.8em;
}
.form_submit:hover{
    background-color: #75E4EE;
    color: black;
    cursor: pointer;
}
input#cbx_form{
    width: auto !important;
}
.motivo_consulta{
    font-weight: bold;
}
textarea{
    width: 100%;
    height: 8em;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1em;
    padding: 0.5em;
    font-family: Roboto,sans-serif;
}
/* ------------------ UBICACION ------------------------*/
h2{
    text-align: center;
    font-size: 1.6em;
    margin-bottom:2em;
}
.ubicacion{
    background-color: white;
    padding: 4em 4em 1em 4em;
    border-radius: 10px;
    box-shadow: 0 5px 15px -8px;
}
.mapa{
    margin:2em 0 0 0;
}
.texto_ubicacion{
    margin-top:1em;
}

/********************************************************
*            * INICIO SESIÓN *            *
*********************************************************/

/* ------------------ FORMULARIO ------------------------*/

section.section_sesion_admin{
  	background-repeat: no-repeat;
	background-image: url("../img/slider/costa.jpg");
    background-size: 100% auto;
	width:100%;
	padding-top: 14em;
	padding-bottom: 14.5em;
}
.formulario_sesion_admin{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px -8px;
}
.formulario_sesion_admin ul li {
    list-style: none;
}
.title_usuario{
	font-size:1.8em;
}
form.formulario_sesion_admin{
    width: 280px;
    height:370px;
    margin: auto;
    padding:6em;
}
ul.form_usuario{
	width:100%;
	margin: auto;
	text-align:center;
}
input#usuario, input#clave{	
	margin:1.3em 0 1.3em 0;
	color: #282828;
	width: 91%;
}
label.texto_form_usuario{
	font-size:1.2em;
}
.input_sesion{
	margin-top:1em;
	width:100%;
	background-color: #282828;
}
.enlace_sesion{
	color:#282828;
}
.enlace_sesion:hover{
	color: gray;
}
.form_container{
    margin-top:1em;
    display: grid;
    gap:2em;
}
.form_group{
    position: relative;
}

select{
    margin:0.2em 0 1em 0;
    padding: 8px 16px 8px 0;
    font-size: 1em;
}
input{
    width: 100%;
    font-size: 1em;
    margin-bottom: 1em;
}
label{
    font-weight: bold;
}
label.gender{
    font-weight: normal;
}
.selec_genero{
    font-weight: bold;
    margin-bottom: 0.5em;
}
.genero{
    width: auto;
    margin: 0 1em 1em 0.2em;
}
input#cbx_form{
    width: auto !important;
}
.motivo_consulta{
    font-weight: bold;
}
textarea{
    width: 100%;
    height: 5em;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1em;
    padding: 0.5em;
    font-family: Roboto,sans-serif;
}

/********************************************************
*                      * GESTIÓN TIENDA *               *
*********************************************************/
.fondoGestion{
	padding-top:4em;
}
.tablaProductos{
	margin-bottom:5em;
    font-family: Roboto,sans-serif;
}
.filtro_e_inserción{
	display:grid;
	grid-template-columns:4fr 1fr;
	max-width:1200px;
	border:2px solid #F0EEE8;	
    font-family: Roboto,sans-serif;
}
li{
	list-style: none;
}
.contenedor_formulario_gestion{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.BotonInsertarProducto input{
	background-color:#97F68D;
	width:10em;
	border-color: transparent;
	float: right;
	margin-top:1em;
}
.BotonInsertarProducto input:hover{
	background-color:white;
	cursor: pointer;
}
.tituloProductos{
	margin-top:6em;
}
.contenedor_formulario_gestion{
	margin-bottom:8em;
}
.section_BotonInsertarProducto{
	padding-top:2em;
}
.modificar_producto a{
	color: #282828;
}
.modificar_producto a:hover{
	color:white;
}
.superiorTabla th{
	background-color:#989898;
	padding:0.5em 1em 0.5em 1em;
	color:black;
}
.inferiorTabla td{
	background-color:#CBD7DA;
	padding:0.5em 1em 0.5em 1em;
	color:black;
}
.filtroGestionProductos div,.filtroGestionProductos h4{
	color:black;
	width:6em;
	display:inline;
	background-color:#40BBC6;
	padding:0.5em;
	border:1em;
}
.filtroGestionProductos div,.filtroGestionProductos h4:hover{
	color:white;
}
.filtroGestionProductos div:hover{
	color: white;
}
.filtroGestionProductos{
	margin:1em 0 1em 0;
}
.textoFiltrarProductos{
	font-weight:bold;
	margin-left:0.1em;
	margin-top:1em;
}
i.fa-solid.fa-trash{
	color: #282828;
}
i.fa-solid.fa-trash:hover{
	color: white;
}
/********************************************************
*                      * FOOTER *                       *
*********************************************************/

footer{
    background-color: white;
    width: 100%;
    height: 130px;
    padding-top: 0.5em;
    font-family: Roboto,sans-serif;
}
.contenidoFooter{
    text-align: center;
    font-weight: bold;
}
.contenidoFooter ul div{
    display: inline-block;
    margin: 1.5em 1em 1em 1em;
}
.contenidoFooter ul li{
    color: #282828;
    list-style:none;
}
.textFooter{
    color: #282828;
    display:inline-block;
    font-weight: normal;
}
footer a li:hover{
    color: #40BBC6;
}


/********************************************************
*                    * RESPONSIVE *                     *
*********************************************************/

@media only screen and (max-width: 1920px) {

    /*------ slider ------*/
    .slider {
        background-size: auto;
        height: 32em;
    }
    .slider .fa-arrow-right {
        font-size: 40px;
        margin-inline: 40px;
    }

    .slider .fa-arrow-left {
        font-size: 40px;
        margin-inline: 40px;
    }
    .circulo_enlace_productos{
	    background-image: url("../img/circulos/todos.jpg");
	    width: 170px;
	    height: 170px;
	    border-radius: 100%;
	    display: inline-block;
	}
    h1,h2{
    	font-size:1.5em;
    }
    h3.titulo_circulos{
   		font-size:1em;
    }
    
   	/*---- iniciar sesion -----*/
   	section.section_sesion_admin{
   		height: 600px;
   	}
   	form.formulario_sesion_admin{
   		margin-top: 0;
   		margin-bottom: 0;
   	}
   	section.section_sesion_admin{
   		padding: 3em 0 1em 0;
   	}
}

@media only screen and (max-width: 1830px) { /* caso particular para arreglar problemas de visualización de ciertos elementos en este punto */
    /*------- slider-------*/
    .slider {
        background-size: auto;
        height: 30em;
        }
}
@media only screen and (max-width: 1328px) { /*--------------- genérico portatil -----------------*/
    /*--general--*/
    body{
    	font-size:14px;
    }
    h1,h2{
        font-size: 24px;
    } 
    /*---- aviso cookies --*/
    .avisoCookies{
        height: 11em;
    }
    /*------ menu ----------*/
    .cabecera img{
    	width: 15em;
    }
    .menu ul div{
        display:inline-block;
    }
    .search-input {
	    font-size: 14px;
	}
    /*---------- INDEX -------------*/
    /*------ slider --------*/
    .slider {
        background-size: auto;
        height: 28em;
    }
    .slider .fa-arrow-right {
	    font-size: xx-large;
	}
	.slider .fa-arrow-left {
	    font-size: xx-large;
	}
    /*-- contenido index -- */
    .fondo_info_general{
		max-width:850px;
	}
	.texto_info_general {
   	 	font-size: 16px;
	}
	.contenido_info_tienda {
	    width: 850px;
	}
	.parrafo_info_tienda {
	    font-size: 16px;
	}
	.texto_productos_index {
	    font-size: 14.7px;
	}
	.circulos_index {
	    width: 10em;
	    height: 10em;
	}
	.info_tienda {
	    height: 330px;
	}
	.contenidoPag {
	    width: 850px;
	}
	.h4_sobre_mi{		
	    font-size: 16px;
	}
	.parrafo_index {
	    font-size: 16px;
	}
	.contenedor_img_inspire{
		width: 100%;
	    height: 220px;
	    overflow: hidden;
	    position: relative;
	}
	img.foto_inspiracion{
		position: absolute;
	    top: -93px;
	    min-height: 100%;
	    min-width: 100%;
	}
	.parrafo_descripcion{
		margin-bottom:1em;
	}
	.foto_mesa{
		min-height:140px;
		padding-top:110px;
	}
	.texto_foto_mesa{
		font-size: x-large;	
	}
	/*----productos-------*/
	.cajaProducto{
	    height: 250px;
	}
	/*----inicio sesion----*/
	form.formulario_sesion_admin {
	    height: 320px;
	    margin-top: 2em;
	    margin-bottom: 2em;
	    padding: 3em;
	}
	section.section_sesion_admin {
    	height: 460px;
	}
	.title_usuario{
		margin-top:0.5em;
		font-size:1.7em;
	}
	/*------contacto------*/
	.section_contacto{
		width:500px;
		margin: auto;
		padding: 4em 0 4em 0;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2em;
    }
    .formulario {
	    padding: 4em 4em 2em 4em;
	}
    .form_submit{
        width: 10em;
        float: right;
    }
    
    /*----------- gestion -------------*/
	.filtroGestionProductos div,.filtroGestionProductos h4{
		line-height: 2.5em;
	}
}
@media only screen and (max-width: 1200px) { /*--------------- caso particular para arreglar problemas de visualización de ciertos elementos en este punto -----------------*/
    /*------- productos -----*/
    .listaProductos{
        margin: 0;
        grid-template-columns: repeat(2,1fr);
        padding: 5% 5% 5% 5%;
    }
    .cajaProducto{
        height: 380px;
        width: 500px;
    }
}

@media only screen and (max-width: 960px) { /*--------------- genérico tablet -----------------*/

    /*------- general ------*/
    body{
        font-size: 14px;
    }
    
    .contenidoPag{ /* Establece un ancho fijo para el contenido */
        width: 100%;
    }
    h1{
        font-size: 23px;
    }
    
    /*----- aviso cookies----*/
    .avisoCookies{
        height: 15em;
        width: 50%;
    }
    #aceptarCookies{
        padding: 2.3% 8% 2.3% 8%;
        margin-top: 3%;
    }

    /*------ slider ---------*/
    .slider {
        background-size: auto;
        height: 20em;
    }
    /* ------- index --------*/
    .foto_mesa{
        height: 300px;
    }
    .info {
        padding:0 10% 0 10%;
    }
    .info div {
        height: 80px;
    }
    .fa-recycle, .fa-pen, .fa-truck{
        font-size: 1.5em;
    }
    .texto_info{
        margin-top: 1em;
    }

    /*------- productos -----*/
    .listaProductos{
        margin: 0;
        grid-template-columns: repeat(2,1fr);
        padding: 5% 5% 5% 5%;
    }
    .cajaProducto{
        height: 310px;
        width: 100%;
    }
    /*-------- contacto---------*/
    .section_contacto{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2em;
        padding: 5% 20% 5% 20%;
    }
    .formulario {
	    padding: 4em 4em 3em 4em;
	}
    .form_submit{
        width: 10em;
        float: right;
        margin-top: 3%;
        margin-bottom: 0;
    }

    /*--------------------- MENU HAMBURGUESA --------------------*/
    .menu{ 
        display: none; /*oculta el menu normal*/
    }
    .cabecera img{
        width: 12em;
    }
    .respmenu a {
        position: relative;
        color: black;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-bottom: none;
        width: 100%;
        background: white;
        padding:1.2em 0 1.5em 0;
        text-align: center;
    }
    .respmenu a:hover{
        background-color:#00c5d3;
        color: black;
    }
    #fondo_menuA, #fondo_menuB{
        background: white;
    }
    #fondo_menuA:hover, #fondo_menuB:hover{
        background:#00c5d3;
    }
    .respmenu li {
        list-style: none;
    }
    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
    }
    .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 20px; /*tamaño del icono hamburguesa*/
        pointer-events: none;
        margin: 20px 30px 0 0; /*margen del icono del menu hamburguesa*/
    }
    .respmenu input[type="checkbox"] {
        opacity: 0;
        margin: 20px 30px 0 0; /*margen del input "clic" del menu hamburguesa*/
    }
    .respmenu {
        color: white;
        position: relative;
        min-height: 30px;
        display: contents; 
    }
    .respmenu nav {
        display: none;
    }
    .respmenu input:checked ~ nav {
        display: block;
    }
    .respmenu input:checked ~ .fa-bars {
        display: none;
    }
    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }

	/*------------- index -------------*/
	section.foto_mesa{
		height: 10px;
	}
	/*-------- inicio sesion ----------*/
	section.section_sesion_admin{
	    background-size: cover;
	}
 	/*----------- gestion -------------*/
	.filtroGestionProductos div,.filtroGestionProductos h4{
		line-height: 2.5em;
	}
}
@media only screen and (max-width: 480px) { /*--------------- movil -----------------*/
    
    /*------------ general -------------*/
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 20px;
    }
    footer{
        height: 400px;
        padding: 2em 0 2em 0;     
    }
    footer a {
        display: block;
    }

    /*----- aviso cookies----*/
    .avisoCookies{
        height: 21em;
        width: 48%;
    }
    #aceptarCookies{
        padding: 4% 9% 4% 9%;
        margin-top: 3%;
    }
    .slider{ 
        display: none; /* oculta el slider */
    }

    /*------------ index -------------*/
    .contenidoPag{
        width: 100%;
    }

    aside{
        width: 80%;
        margin: auto;
    }
    .info{
        grid-template-columns: repeat(1,1fr);
    }

    /*------------ productos -------------*/
    .listaProductos{
        grid-template-columns: repeat(1,1fr);
    }
    /*----------- sobre mi ---------------*/
    .sobre_mi{
        grid-template-columns: none;
        margin: auto;
        width:330px;
    }
    .sobre_mi img{
        width: 330px;
    }
    /*----------- contacto ---------------*/

    .formulario{
        width: 360px;
        margin-left: 26px;
        padding: 2em;
        height: 640px;
    }
    input{
        height: 10px;
    }
    input, textarea{
        width: 330px;
    }
    .section_contacto{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        width: 320px;
    }
    .form_submit{
        width: 10em;
        margin-top: 3%;
        margin-bottom: 0;
        height: 40px;
    }
    .form_container{
        width: 330px;
    }
    #mapa_gra{ /* oculta el mapa normal */
        display: none;
    }
    #mapa_peq{ /* muestra el mapa responsive */
        display: block;
    }
    div .ubicacion{
        width: 300px;
        margin-left: 26px;
    }
}

